# registry=https://registry.npmmirror.com
# @kanyun:registry=http://npm.zhenguanyu.com/
# @solar:registry=http://npm.zhenguanyu.com/
# @tutor:registry=http://npm.zhenguanyu.com/
# sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/
# @conan:registry=http://npm.zhenguanyu.com/
# @fenbi:registry=http://npm.zhenguanyu.com/
# @yuanfudao:registry=http://npm.zhenguanyu.com/
